<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.author.description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="{{ '/assets/images/logos/docker.svg' }}" class="logo" />
    <img src="" class="logo" />
    <img src="" class="logo" />
    <p>I feel most comfortable working with the back-end, but do have some familiarity with the front-end.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="" class="logo" />
    <img src="" class="logo" />
    <img src="" class="logo" />
    <p>My main development language is Ruby, but I have worked with Elixir, Groovy, Java, Javascript, PHP and more...</p>
  </div>
  <div class="tech">
    <img src="" class="logo" />
    <img src="" class="logo" />
    <img src="" class="logo" />
    <h2>Tools</h2>
    <p>Git, Linux, Docker, you name it, I've probably worked with it.</p>
  </div>
</div>
